.root {
    -fx-background-color: maroon;
    -fx-font-family: "Century Gothic";
    -fx-text-fill: white;
}

#title{
    -fx-font-size: 32px;
    -fx-border-color: white;
    -fx-border-width: 2px;
    -fx-border-radius: 5px;
    -fx-padding: 5px;
}

.label{
    -fx-font-size: 16px;
    -fx-text-fill: white;
}

#btnPlay{
    -fx-background-color: white;
    -fx-font-size: 20px;
    -fx-text-fill: maroon;
}

#btnPlay:hover{
    -fx-background-color: ladder(#AAA, maroon 0%, white 100%);
    -fx-cursor: hand;
}

.spinner .increment-arrow-button,
.spinner .decrement-arrow-button {
    -fx-body-color: white;
}

.spinner .increment-arrow-button:hover,
.spinner .decrement-arrow-button:hover {
    -fx-cursor: hand;
    -fx-body-color: ladder(#444, white 0%, red 100%);
}
